@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.calculator {
    padding: 10px;
    border-radius: 0.5em;
    height: 450px;
    width: 400px;
    margin: auto;
    background-color: #0b0b0f;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.display-box {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    background-color: #dbdee1;
    border: solid black 2px;
    color: black;
    border-radius: 7px;
    width: 95%;
    height: 68%;
}

#btn {
    background-color: #c28fd2;
}

input[type=button] {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    background-color: #7d33b3;
    color: white;
    border: solid black 0.5px;
    width: 100%;
    border-radius: 5px;
    height: 70%;
    cursor: pointer;
    outline: none;
}

input:active[type=button] {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}